div.st-emotion-cache-nahz7x.e1nzilvr5 {
    text-align: justify;
}
section.main.st-emotion-cache-uf99v8.ea3mdgi8{
    background-color: #263646;
}

div.appview-container.st-emotion-cache-1wrcr25.ea3mdgi9 {
    color: #FFFFFF;
}