div.st-emotion-cache-nahz7x.e1nzilvr5 {
    text-align: justify;
}
section.main.st-emotion-cache-uf99v8.ea3mdgi8{
    background-color: #263646;
}
div {
    color: #FFFFFF;
}

div.element-container.st-emotion-cache-1xf3b69.e1f1d6gn4 {
    background-color: #263646;
}
